<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Beyondbit.Framework.Web"
             type="Beyondbit.Framework.Common.Config.WebConfigHandler,Beyondbit.Framework"/>
  </configSections>

  <connectionStrings>
    <add name="mainDB" connectionString="Database=MiaoShaDB;Server=116.255.155.165;Uid=sa;Pwd=111qqq!;Enlist=False;Pooling=true;Connection Reset=false;Trusted_Connection=no;Connect TimeOut=3000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Beyondbit.Framework.Web />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>