@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    html, body {
        height: 100%;
        width: 100%;
    }

    body {
        background: url('../../Content/static/img/bg.jpg') no-repeat;
        background-size: 100% 100%;
        padding-top: 100px;
    }
</style>
<form name="loginForm" id="loginForm" method="post" style="width:30%; margin:0 auto;">

    <h2 style="text-align:center; margin-bottom: 20px">用户登录</h2>

    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">请输入手机号码</label>
            <div class="col-md-8">
                <input id="mobile" name="mobile" class="form-control" type="text" placeholder="手机号码" required="true" minlength="11" maxlength="11" value="18817802311" />
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">请输入密码</label>
            <div class="col-md-8">
                <input id="password" name="password" class="form-control" type="password" placeholder="密码" required="true" minlength="6" maxlength="16" value="123456"/>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:40px;">
        <div class="col-md-6">
            <button class="btn btn-primary btn-block" type="reset" onclick="reset()">重置</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary btn-block" type="submit" onclick="login()">登录</button>
        </div>
    </div>

</form>
<script>
    function login() {
        var password = md5($("#password").val());

        $.ajax({
            url: '@Url.Action("Login","Home")',
            type: "POST",
            data: {
                mobile: $("#mobile").val(),
                password: password
            },
            success: function (data) {
                if (data.Code == "1") {
                    layer.msg(data.Message);
                    window.location.href ='@Url.Action("Index","Good")';
                } else {
                    layer.msg(data.Message);
                }
            },
            error: function () {
                layer.closeAll();
            }
        });
    }
</script>